html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header p {
  color: white;
  font-weight: 400;
  font-size: 1.5em;
  margin: 20px 20px;
}

header nav ul {
  display: flex;
  margin-left: -40px;
}

header nav ul li {
  margin: -10px 20px 0 20px;
  list-style: none;
  font-weight: 200;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, .3);
}
