p {
  position: absolute;
  z-index: 2;
  left: 765px;
  top: 315px;
  width: 200px;
  font-size: 32px;
}

.img {
  width: 300px;
  position: absolute;
  top: 500px;
}

.super-mario {
  top: 100px;
  z-index: 1;
}

.goomba {
  width: 250px;
  top: 550px;
  left: 60px;
}

.baloon {
left: 700px;
top: 300px;
}

.bowser {
  left: 1000px;
  width: 500px;
  top: 300px;
}